Django>=5.2,<5.3
djangorestframework>=3.16,<3.17
django-cors-headers>=4.7,<4.8
Pillow>=11.2,<11.3
dj-database-url>=2.3,<2.4
gunicorn>=23.0,<24.0
psycopg2-binary>=2.9,<2.10
whitenoise>=6.9,<6.10
cloudinary>=1.42,<1.43
